In [1]:
from pygradu import gridify
import shapely.geometry
import pandas as pd
import numpy as np
import importlib

sea_graph_adjacent = pd.read_csv('data/models/sea_model_5km_adjacent.csv', index_col=0)

traffic_graph_adjacent = pd.read_csv('data/models/traffic_model_5km_adjacent.csv', index_col=0)

/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [2]:
traffic_graph_adjacent.head()

   original  connected
2      6652       6653
3      6653       6930
4      6930       7207
5      7207       7208
6      7208       7209

In [3]:
grid = gridify.area_to_grid(side_length=5000)

Original NE: POINT (31.5 66.8)
Original SW: POINT (8.5 53)
Transformed NE: (697681.2863658136, 7416224.9393330095)
Transformed SW: (-735260.4063631196, 6033964.466017238)
col_count 286
row_count 276
grid_size 78936

In [4]:
importlib.reload(gridify)

weight_graph = traffic_graph_adjacent.groupby(['original', 'connected']).size()
weight_graph = weight_graph.to_frame().reset_index()
weight_graph.columns = ['original', 'connected', 'occurences']
weight_graph = weight_graph.set_index(['original', 'connected'])

weight_graph.head(10)

                    occurences
original connected
351      352                 5
352      353                 4
353      354                 6
354      353                 3
355      356               121
         631               686
         907                 5
         1182                1
         1183                5
         1184               14

In [5]:
print(weight_graph.occurences.min())
print(weight_graph.occurences.max())
print(weight_graph.occurences.median())
print(weight_graph.occurences.mean())
weight_graph.occurences.describe()

1
9420
3.0
35.90888197006656

count    163162.000000
mean         35.908882
std         174.671228
min           1.000000
25%           1.000000
50%           3.000000
75%          12.000000
max        9420.000000
Name: occurences, dtype: float64

In [6]:
importlib.reload(gridify)

%time complete_graph_adjacent = gridify.calculate_transition_cost(sea_graph_adjacent, traffic_graph_adjacent)

Weights calculated
Costs calculated
CPU times: user 29 s, sys: 237 ms, total: 29.2 s
Wall time: 27.7 s

In [7]:
complete_graph_adjacent.describe()

            original      connected         weight           cost
count  155094.000000  155094.000000  155094.000000  155094.000000
mean    27651.144480   27651.144480   26779.959644       0.568577
std     17274.508939   17274.508939   18818.992398       0.399554
min       350.000000     350.000000       0.000000       0.000000
25%     13000.250000   13000.250000    9409.000000       0.199766
50%     25795.000000   25795.000000    9419.000000       0.199979
75%     38239.000000   38239.000000   47100.000000       1.000000
max     70586.000000   70586.000000   47100.000000       1.000000